.hero {
    background-image: url('./flygplan.jpg');
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr max-content max-content 1fr;
}

.hero-logo {
    width: 15rem;
    justify-self: center;
    align-self: center;
    margin-top: 4rem;
}

.hero-title {
    font-size: 12vw;
    transition: all 0.4s;
}

.hero .active {
    font-size: 9vw;
    transition: all 0.4s;
}

.hero-title, .hero h4, .hero p {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

.hero-description {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.hero a {
    align-self: end;
    justify-self: center;
    cursor: pointer;
    margin-bottom: 6rem;
}
.hero .chevron {
    height: 4rem;
    transition: height 1s;
}

.hero .chevron:hover {
    height: 5rem;
    transition: height 0.2s;
}

@media screen and (min-width: var(--tablet-width)) {
    .hero-logo {
        width: 20rem;
    }
    .hero-title {
        font-size: 8rem;
    }
    .hero .active {
        font-size: 6.5rem;
    }
  }