.image-page-container {
    padding: 7rem 2rem 0 2rem;
    display: grid; 
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 2rem;
}

.image-page-img {
    width: 95%;
    justify-self: center;
    background-color: lightgrey;
    border-radius: 5px;
}

.image-page-description {
    font-size: 2rem;
    padding: 2rem;
    color: black;
}

@media screen and (min-width: 700px) {
    .image-page-container {
        grid-template-columns: 1fr 1fr;
    }
}
