/* CSS variables  */

:root {
  --soft-white: #f1eef2;
  --pink: #b46d6d;
  --blue: #6f87f3;
}


/* Main CSS settings */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
