.contact-container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr; 
    font-weight: 200;
}

.contact-image {
    margin-top: 5rem;
    height: 150px;
    width: 100%;
    background-image: url('./../../assets/images/consume-me.jpg');
    background-size: cover;
    margin-bottom: 3rem;
    background-position: center;
}

.contact-text-box {
    text-align: left;
    padding-bottom: 1rem;
}

.contact-headline {
    font-size: 3rem;
    padding-bottom: 2rem;
    margin: 0;
}

.contact-info {
    font-size: 2rem;
    text-align: left;
}

@media only screen and (min-width: 700px) {
    .contact-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3rem;
    }
    .contact-image {
        height: 400px;
    }
    .contact-info {
        justify-self: center;
        font-size: 2.5rem;
    }
    .contact-headline {
        font-size: 6rem;
    }
}