.header {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header a {
    font-size: 2.5rem;
    color: black;
    padding: 0.8rem 3rem 0.8rem 3rem;
}

.logo {
    height: 5rem;
}