.instagram-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    padding: 10rem 4rem 0 4rem;
    text-align: center;
    width: 100%;
}

.instagram-item {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-image {
    width: 100%;
    border-radius: 5px;
} 

.instagram-text-container {
    background-color: white;
    width: 100%;
    padding: 1.5rem;
    /* border: 1px solid darkgrey; */
    border-radius: 5px;
}

.instagram-text-container p {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    color: black;
    font-size: 1.5rem;
}

@media only screen and (min-width: 700px) {
    .instagram-container {
        grid-template-columns: 1fr 1fr 1fr;
  }

  .img-on-hover {
    filter: brightness(60%);
  }
}