.footer {
    display: grid;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    background: linear-gradient(130deg, #d79797, #9198e5);
}

.footer-social {
    background-color: #f1eef2;
    padding: 3rem 0 0.5rem 0;
}

.footer-main {
    padding: 2rem 8vw 0 8vw;
}

.footer h3 {
    font-size: 4rem;
}

.instagram-logo {
    width: 5rem;
    padding: 0.5rem;
}

.second-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-top: 4rem;
    font-size: 1rem;
}